@import "normalizez.scss"
@import "resets.scss"

@font-face 
    font-family: "AvantGardeLT"
    src: url('./fonts/AvantGardeLT-Medium.woff2') format('woff2')
    font-weight: 100 900
    font-style: normal
    font-display: swap

*
    box-sizing: border-box

.main-section
    background: #EFE9E3
    background: linear-gradient(90deg,rgba(239, 233, 227, 1) 0%, rgba(246, 225, 229, 1) 70%, rgba(242, 219, 202, 1) 100%)
    &__container
        max-width: 1700px
        margin: 0 auto
        width: 100%
        &-logo 
            font-size: 38px