@import "normalizez.scss"
@import "resets.scss"

@font-face 
    font-family: "WF Visual Sans"
    src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2')
    font-weight: 100 900
    font-style: normal
    font-display: swap

@font-face 
    font-family: "AvantGardeLT"
    src: url('../fonts/AvantGardeLT-Medium.woff2') format('woff2')
    font-weight: 100 900
    font-style: normal
    font-display: swap

@font-face 
    font-family: "Articulat CF Medium"
    src: url('../fonts/ArticulatCFMediumRegular.woff2') format('woff2')
    font-weight: 100 900
    font-style: normal
    font-display: swap

@font-face 
    font-family: "Graphik"
    src: url('../fonts/Graphik-Medium.woff2') format('woff2')
    font-weight: 100 900
    font-style: normal
    font-display: swap


.jost 
    font-family: "Jost", sans-serif
    font-optical-sizing: auto
    font-weight: 500
    font-style: normal

*
    box-sizing: border-box

body
    overflow-x: hidden

.main-section
    background: #EFE9E3
    background: linear-gradient(90deg,rgba(239, 233, 227, 1) 0%, rgba(246, 225, 229, 1) 70%, rgba(242, 219, 202, 1) 100%)
    &__container
        max-width: 1700px
        margin: 0 auto
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        margin-bottom: 237px
        &-logo 
            font-size: 38px
            font-family: "AvantGardeLT"
            margin-top: 36px
        &-offers
            display: flex
            background: white
            width: 777px
            height: 64px
            margin-top: 24px
            border-radius: 35px
            li
                display: inline-flex 
                align-items: center  
                gap: 6px      
                margin-left: 35px   
                font-size: 15px
                font-family: "Articulat CF Medium"  
                img
                    display: block
                button
                    width: 55px
                    height: 21px
                    background: #28beef
                    border: none
                    border-radius: 26px
                    color: white
                    display: inline-flex
                    justify-content: center
                    align-items: center
                    font-size: 13px
                    font-family: "Articulat CF Medium"
                    margin-left: 8px
            li:first-child
                margin-left: 54px
        &-buttons
            display: flex
            margin-top: 34px
            gap: 16px
            button
                width: 52px
                height: 52px
                border-radius: 25px
                border: 0
                background-color: white
                &:last-child
                    background-color: black
                    position: relative
                    div
                        background-color: #EF2C7D
                        position: absolute
                        border-radius: 25px
                        width: 16px
                        height: 16px
                        right: 0px
                        top: 0px
                        color: white
                        font-size: 10px
                        display: flex
                        align-items: center
                        justify-content: center
                        font-family: "Jost"
    &__poster
        display: flex
        margin-bottom: 224px
        &-left
            margin-left: 95px
            position: relative
            z-index: 3
            &-firstRow
                font-family: "WF Visual Sans"
                font-size: 66px
                font-weight: 600
                margin-bottom: 17px
                &-separateWord
                    color: #ee5193
            &-secondRow
                font-family: "Graphik"
                font-size: 19px
                margin-bottom: 51px
            &-leftButton
                width: 36px
                height: 43px
                background-color: black
                color: white
                margin-right: 10px
            &-rightButton
                width: 34px
                height: 42px
                background-color: white
                color: black
            button
                width: 252px
                height: 66px
                border-radius: 35px
                border: 0
                display: inline-flex
                align-items: center
                padding-left: 23px
                img
                    margin-right: 40px
        &-right
            position: absolute
            inset: 60px 0px auto auto 
            width: 700px
            &-women
                position: absolute
                width: 100%
                z-index: 2
            &-lolipops
                position: absolute
                width: 125%
                z-index: 1
                inset: -40px auto auto -10px
    &__offers
        margin-left: 67px    
        width: 1400px
        height: 342px
        background-color: white